<head>
    <%- include('header', {user: user}); -%>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

        <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script>
            $('#myModal').appendTo("body");
        </script>
</head>

<style>
    body {
        font-family: Arial;
        background: #f1f1f1;
        padding: 0;
        margin: 0;
        background: url(bg3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    * {
        box-sizing: border-box;
    }
    /* Header/Blog Title */
    
    .header {
        padding-top: 20px;
        padding: 10px;
        text-align: center;
        background: #3396AD;
        color: white;
        clear: both;
    }
    
    .header h1 {
        font-size: 55px;
        font-family: 'Lobster', cursive;
    }
    
    .navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    /* Right column */
    
    .rightcolumn {
        background-color: #f1f1f1;
    }
    /* Add a card effect for articles */
    
    .card {
        background-color: #F0F1F2;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        margin-left: 5px;
        padding-bottom: 5px;
    }
    
    a.hello:hover {
        color: red;
    }
    
    a.more:hover {
        color: red;
    }
    
    .list-inline-item a:hover {
        text-decoration: none;
    }
    /* Set Button */
    
    .btn-primary {
        background-color: #218838;
        border: 0;
    }
    
    .btn-third {
        background-color: lawngreen;
    }
    
    .btn-success {
        margin-right: 10px;
    }
    /* set modal */
    
    .modal-backdrop {
        z-index: 0;
    }
    /*Form color*/
    
    .form-group {
        background-color: #F0F1F2;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Vote Star*/
    
    .checked {
        margin-top: 15px;
        color: orange;
    }
    /* Footer */
    
    .footer {
        padding-top: 25px;
        text-align: center;
        background: #ddd;
        background-color: #333333;
        color: #ddd;
        margin-top: 30px;
    }
    
    .font-sizelast {
        font-size: 15px;
    }
    
    .copyright {
        margin-bottom: 0;
    }
    
    i {
        font-size: 7px;
    }
    
    div .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        margin-right: 14px;
    }
    
    div .text:hover .text {
        overflow: visible;
    }
    
    .item {
        float: left;
        width: 16.66%;
        margin-bottom: 20px;
    }
    
    .image-app {
        margin-left: 2px;
    }
    
    @media only screen and (max-width: 1520px) {
        .item {
            width: 20%;
        }
        .image-app {
            margin-left: 10px;
        }
        div.text {
            margin-left: 10px;
            margin-right: 10px;
        }
        .star {
            margin-left: 10px;
        }
    }
    
    @media only screen and (max-width: 1240px) {
        .item {
            width: 25%;
        }
        .image-app {
            margin-left: 10px;
        }
        div.text {
            margin-left: 10px;
            margin-right: 10px;
        }
        .star {
            margin-left: 10px;
        }
    }
    
    @media only screen and (max-width: 1020px) {
        .item {
            width: 33.33%;
            margin-right: 10px;
        }
        .image-app {
            margin-left: 20px;
        }
        div.text {
            margin-left: 20px;
            margin-right: 40px;
        }
        .star {
            margin-left: 20px;
        }
    }
    
    @media only screen and (max-width: 570px) {
        .item {
            width: 50%;
        }
        .image-app {
            margin-left: 20px;
        }
        div.text {
            margin-left: 20px;
            margin-right: 80px;
            padding-right: 50px;
        }
        .star {
            margin-left: 20px;
        }
    }
    
    @media only screen and (max-width: 400px) {
        .item {
            width: 100%;
            margin-bottom: 10px;
        }
        .image-app {
            margin-left: 60px;
        }
        div.text {
            margin-left: 60px;
            margin-right: 120px;
            padding-right: 50px;
        }
        .star {
            margin-left: 60px;
        }
    }
    /* Ipad */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
        .leftcolumn,
        .rightcolumn {
            padding: 0;
            float: left;
        }
        .btn-success {
            margin-bottom: 5px;
            margin-top: 2px;
        }
    }
    /* Reponsive when <=767px */
    
    @media only screen and (max-width: 767px) {
        .leftcolumn,
        .rightcolumn {
            padding: 0;
            float: left;
        }
        .col-3 {
            flex: 1 0 25%;
            max-width: 100%;
            margin-left: 2px;
            margin-right: 2px;
        }
        .col-9 {
            flex: 1 0 75%;
            max-width: 100%;
        }
        .btn-success {
            margin-bottom: 5px;
            margin-top: 2px;
        }
    }
    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    
    @media only screen and (max-width: 400px) {
        .topnav a {
            float: none;
            width: 100%;
            padding: 0;
        }
        /* .leftcolumn {
                margin-right: 2px;
                margin-left: 2px;
            } */
        .col-3 {
            flex: 1 0 25%;
            max-width: 100%;
            margin-left: 2px;
            margin-right: 2px;
        }
        .col-9 {
            flex: 1 0 75%;
            max-width: 100%;
        }
    }
</style>

<body>
    <div class="container col-12" style="padding-left: 0px; padding-right: 0px;">
        <div class="row">
            <div class="leftcolumn col-12 " style="padding-right: 5px; padding-left: 2px;">
                <div class="card">
                    <div class="container mt-1"></div>
                    <h4 style="font-weight: bold; margin-left: 15px;">Phòng Ban</h4>
                    <hr style="margin-top: -5px" color="blue" />
                    <div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>

                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>


                        </div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>
                    </div>

                </div>




            </div>




        </div>

    </div>

    </div>







    </div>

    </div>
    </div>




</body>

</html>