<head>
    <%- include('./partition/header', {user: user}); -%>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

        <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script>
            $('#myModal').appendTo("body");
        </script>
</head>


<body>
    <div class="container col-12" style="padding-left: 0px; padding-right: 0px;">
        <div class="row">
            <div class="leftcolumn col-12 " style="padding-right: 5px; padding-left: 2px;">
                <div class="card">
                    <div class="container mt-1"></div>
                    <h4 style="font-weight: bold; margin-left: 15px;">Phòng Ban</h4>
                    <hr style="margin-top: -5px" color="blue" />
                    <div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>

                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>


                        </div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>
                        <div class="item">
                            <td class="image">
                                <a class="image-app" title="" href="">
                                    <img src="/images/tdt_logo.png">
                                </a>
                            </td>

                            <a title="" href="" style="color: black">
                                <div class="text">ABC</div>
                            </a>

                        </div>
                    </div>

                </div>




            </div>




        </div>

    </div>

    </div>







    </div>

    </div>
    </div>




</body>

</html>