<head>
    <%- include('./partition/header', {user: user}); -%>
</head>

<body data-new-gr-c-s-check-loaded="14.980.0" data-gr-ext-installed="">
    <div class="container">
        <div class="row deparment-container">
            <div class="card deparment-card-container">
                <div class="card-header">
                    <div><i class="fa fa-home" aria-hidden="true"></i>
                        <a href="#"><strong> Trang chủ</strong> </a>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <strong> Danh sách phòng ban</strong>
                        <% if (user.role.admin){ %>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <i class="fa fa-plus add-department" aria-hidden="true"></i>
                            <%}%>
                    </div>
                </div>

                <div class="deparment-item">
                    <div class="card" style="width: 18rem;">
                        <img src="/images/banner-small.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5><strong class="card-title">Phòng đại học</strong></h5>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="/images/banner-small.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5><strong class="card-title">Phòng đại học</strong></h5>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="/images/banner-small.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5><strong class="card-title">Phòng đại học</strong></h5>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="/images/banner-small.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5><strong class="card-title">Phòng đại học</strong></h5>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="/images/banner-small.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5><strong class="card-title">Phòng đại học</strong></h5>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="/images/banner-small.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5><strong class="card-title">Phòng đại học</strong></h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="bi bi-finger-index"></i>
    </div>
    <!-- Scroll to Top End -->
    <%- include('./partition/footer') -%>
</body>

</html>