<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<style>
    
    html, body {
        height: 100%;
    }
    body{
        margin: 0;
        padding: 0;
        background: url("https://thietbiketnoi.com/wp-content/uploads/2020/01/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-2.jpg") no-repeat ;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.342);
        border-radius: 50px;
        padding: 75px;

    }
    .title{
        color: aliceblue;
        font-size: 25px;
    }
    .signin-btn a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: whitesmoke;
        padding: 20px;
        border-radius: 40px;
    }
    .signin-btn a img{
        height: auto; 
        width: auto; 
        max-width: 50px; 
        max-height: 50px;
    }
</style>
<body>
    <div class="box">
        <div class="title"><h3>Sign in account</h3></div>
        
        <div class="signin-btn"><a href="/google"><img id="logo" src="/image/google-logo.png"><p>Sign in with Google</p></a></div>
    </div>
    
</body>
</html>