<!DOCTYPE html>
<html>
<%- include('./partition/header'); -%>
    <%- include('./partition/navbar', {user: user}); -%>

        <body>
            <%- include('./partition/noti'); -%>
                <%- include('./partition/footer'); -%>
        </body>

</html>