<head>

    <%- include('./partition/header', {user: user}); -%>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" />
        <link rel="stylesheet" href="path/to/line-awesome/css/line-awesome-font-awesome.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/font-awesome-line-awesome/css/all.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/path/to/jquery.mCustomScrollbar.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

</head>

<body oncontextmenu="return false;">
    <section class="forum-page">
        <div class="container">
            <div class="forum-questions-sec">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="forum-questions">
                            <div class="usr-question">
                                <div class="usr_img">
                                    <img src="./WorkWise Html Template_files/usrr-img1.png" alt="">
                                </div>
                                <div class="usr_quest">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <ul class="react-links">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-heart"></i> Vote 150</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-eye"></i> Views 50</a></li>
                                    </ul>
                                    <ul class="quest-tags">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Work</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Php</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Design</a></li>
                                    </ul>
                                </div>
                                <span class="quest-posted-time"><i class="fa fa-clock-o"></i>3 min ago</span>
                            </div>
                            <div class="usr-question">
                                <div class="usr_img">
                                    <img src="./WorkWise Html Template_files/m-img2.png" alt="">
                                </div>
                                <div class="usr_quest">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <ul class="react-links">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-heart"></i> Vote 150</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-eye"></i> Views 50</a></li>
                                    </ul>
                                    <ul class="quest-tags">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Work</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Php</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Design</a></li>
                                    </ul>
                                </div>
                                <span class="quest-posted-time"><i class="fa fa-clock-o"></i>3 min ago</span>
                            </div>
                            <div class="usr-question">
                                <div class="usr_img">
                                    <img src="./WorkWise Html Template_files/m-img3.png" alt="">
                                </div>
                                <div class="usr_quest">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <ul class="react-links">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-heart"></i> Vote 150</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-eye"></i> Views 50</a></li>
                                    </ul>
                                    <ul class="quest-tags">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Work</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Php</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Design</a></li>
                                    </ul>
                                </div>
                                <span class="quest-posted-time"><i class="fa fa-clock-o"></i>3 min ago</span>
                            </div>
                            <div class="usr-question">
                                <div class="usr_img">
                                    <img src="./WorkWise Html Template_files/m-img4.png" alt="">
                                </div>
                                <div class="usr_quest">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <ul class="react-links">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-heart"></i> Vote 150</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-eye"></i> Views 50</a></li>
                                    </ul>
                                    <ul class="quest-tags">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Work</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Php</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Design</a></li>
                                    </ul>
                                </div>
                                <span class="quest-posted-time"><i class="fa fa-clock-o"></i>3 min ago</span>
                            </div>
                            <div class="usr-question">
                                <div class="usr_img">
                                    <img src="./WorkWise Html Template_files/m-img5.png" alt="">
                                </div>
                                <div class="usr_quest">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <ul class="react-links">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-heart"></i> Vote 150</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-eye"></i> Views 50</a></li>
                                    </ul>
                                    <ul class="quest-tags">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Work</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Php</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Design</a></li>
                                    </ul>
                                </div>
                                <span class="quest-posted-time"><i class="fa fa-clock-o"></i>3 min ago</span>
                            </div>
                            <div class="usr-question">
                                <div class="usr_img">
                                    <img src="./WorkWise Html Template_files/m-img6.png" alt="">
                                </div>
                                <div class="usr_quest">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <ul class="react-links">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-heart"></i> Vote 150</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-eye"></i> Views 50</a></li>
                                    </ul>
                                    <ul class="quest-tags">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Work</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Php</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Design</a></li>
                                    </ul>
                                </div>
                                <span class="quest-posted-time"><i class="fa fa-clock-o"></i>3 min ago</span>
                            </div>
                            <div class="usr-question">
                                <div class="usr_img">
                                    <img src="./WorkWise Html Template_files/m-img7.png" alt="">
                                </div>
                                <div class="usr_quest">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <ul class="react-links">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-heart"></i> Vote 150</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title=""><i class="fas fa-eye"></i> Views 50</a></li>
                                    </ul>
                                    <ul class="quest-tags">
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Work</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Php</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/forum.html#" title="">Design</a></li>
                                    </ul>
                                </div>
                                <span class="quest-posted-time"><i class="fa fa-clock-o"></i>3 min ago</span>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example" class="full-pagi">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link pvr" href="https://gambolthemes.net/workwise-new/forum.html#">Previous</a></li>
                                <li class="page-item"><a class="page-link active" href="https://gambolthemes.net/workwise-new/forum.html#">1</a></li>
                                <li class="page-item"><a class="page-link" href="https://gambolthemes.net/workwise-new/forum.html#">2</a></li>
                                <li class="page-item"><a class="page-link" href="https://gambolthemes.net/workwise-new/forum.html#">3</a></li>
                                <li class="page-item"><a class="page-link" href="https://gambolthemes.net/workwise-new/forum.html#">4</a></li>
                                <li class="page-item"><a class="page-link" href="https://gambolthemes.net/workwise-new/forum.html#">5</a></li>
                                <li class="page-item"><a class="page-link" href="https://gambolthemes.net/workwise-new/forum.html#">6</a></li>
                                <li class="page-item"><a class="page-link pvr" href="https://gambolthemes.net/workwise-new/forum.html#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget widget-user">
                            <h3 class="title-wd">Top User of the Week</h3>
                            <ul>
                                <li>
                                    <div class="usr-msg-details">
                                        <div class="usr-ms-img">
                                            <img src="./WorkWise Html Template_files/m-img1.png" alt="">
                                        </div>
                                        <div class="usr-mg-info">
                                            <h3>Jessica William</h3>
                                            <p>Graphic Designer </p>
                                        </div>
                                    </div>
                                    <span><img src="./WorkWise Html Template_files/price1.png" alt="">1185</span>
                                </li>
                                <li>
                                    <div class="usr-msg-details">
                                        <div class="usr-ms-img">
                                            <img src="./WorkWise Html Template_files/m-img2.png" alt="">
                                        </div>
                                        <div class="usr-mg-info">
                                            <h3>John Doe</h3>
                                            <p>PHP Developer</p>
                                        </div>
                                    </div>
                                    <span><img src="./WorkWise Html Template_files/price2.png" alt="">1165</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="overview-box" id="question-box">
        <div class="overview-edit">
            <h3>Ask a Question</h3>
            <form>
                <input type="text" name="question" placeholder="Type Question Here">
                <input type="text" name="tags" placeholder="Tags">
                <textarea placeholder="Description"></textarea>
                <button type="submit" class="save">Submit</button>
                <button type="submit" class="cancel">Cancel</button>
            </form>
            <a href="https://gambolthemes.net/workwise-new/forum.html#" title="" class="close-box"><i class="la la-close"></i></a>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <!-- <script type="text/javascript" src="./WorkWise Html Template_files/script.js.download"></script> -->

    <script src="/modernizr-3.6.0.min.js.download"></script>
    <!-- jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Slick Slider JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <!-- nice select JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-nice-select@1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- audio video player JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.4/plyr.min.js"></script>
    <!-- perfect scrollbar js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js"></script>
    <!-- light gallery js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.min.js"></script>
    <!-- image loaded js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
    <!-- isotope filter js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <!-- Main JS -->
    <script src="/javascripts/main.js"></script>

</body>

</html>