<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Social Network</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel="stylesheet" type="text/css" href="styles_post.css">
	<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<div class="container mt-3 mb-3">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="d-flex justify-content-between p-2 px-2">
						<div class="d-flex flex-row align-items-center">
							<img src="images/test.png" alt="" class="rounded-circle" width="45">

						</div>

						<input type="text" class="form-control" placeholder="What are you thinking ?">
					</div>
					<hr>
					<div class="d-flex justify-content-between mx-5 icons_more_tool my-2">
						<div class="addImage">
							<i class="far fa-images"></i> <span>Picture/Video</span>
						</div>
						
						<div class="Tag">
							<i class="fas fa-tags"></i> <span>Tag your friends</span>
						</div>
						
						<div class="addEmoji">
							<i class="far fa-grin-beam"></i> <span>Emoji</span>
						</div>
					</div>
				</div>
				
				
			</div>

		</div>
		<hr style="border: none;">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<!--Information of post's user-->
					<div class="d-flex justify-content-between p-2 px-2">
						<div class="d-flex flex-row align-items-center">
							<img src="images/test.png" alt="" class="rounded-circle" width="52">
							<div class="d-flex flex-column ml-2">
								<span class="font-weight-bold">UserName</span>
								<small class="text-primary">Infor</small>
							</div>
						</div>

						<!--Time and more-->
						<div class="d-flex flex-row mt-2 time">
							<small class="mr-2">30 mins</small><i class="fa fa-ellipsis-h mr-4"></i>
						</div>
					</div>
						
					<!--Area of post-->
					<hr style="border: none;">
					<p class="text-justify ml-3">What user was written appear here </p>
					<img src="images/test1.png" alt="" class="img-fluid">
					
					<!-- Number of Comment and Interactive-->
					
					<div class="d-flex justify-content-between align-items-centerl">
						<div class="d-flex flex-row icons d-flex align-items-center ml-3 interactive_color">
							<i class="fa fa-thumbs-up"></i> <i class="fa fa-heart"></i> <i class="fas fa-grin-squint"></i> <i class="fas fa-surprise"></i> <i class="fas fa-frown"></i> <i class="fas fa-angry"></i> <span class="ml-1 emojiNum">emoji number</span>
						</div>

						<div class="d-flex flex-row interactive_color m-3">
							<span class="mr-3 cmt">comments</span>
							<span class="shares">shares</span>
						</div>
					</div>

				<hr>

				<!--Interative-->
					<div class="d-flex justify-content-between align-items-centerl mx-5">
						<div class="like">
							<i class="far fa-thumbs-up"></i> <span>Like</span>
						</div>
						
						<div class="cmts">
							<i class="far fa-comment-alt"></i> <span>Comment</span>
						</div>
						
						<div class="shr">
							<i class="far fa-share-square"></i> <span>Share</span>
						</div>
						
					</div>
				<hr>
					<!--Comment-->
					<div class="comments mx-3">
						<div class="d-flex flex-row mb-2"> <img src="images/test.png" width="40" class="round-img">
                        <div class="d-flex flex-column ml-2"> <span class="nameOfUser">User_Name</span> <small class="comment-text">What user was commented appear here</small>
                            <div class="d-flex flex-row align-items-center interactive_comment_color">
                            	<small>Like</small>
	                            <small>Reply</small> 
	                            <small>Translate</small>
	                            <small>20 mins</small>
                            </div>
                        </div>
					</div>

					<div class="comment-input"> <input type="text" class="form-control">
                            <div class="fonts"><i class="fas fa-smile-beam"></i> <i class="fa fa-camera"></i> 
                            </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</body>