<head>
    <%- include('header', {user: user}); -%>
</head>

<body data-new-gr-c-s-check-loaded="14.980.0" data-gr-ext-installed="">
    <div hidden="" id="sprite-plyr">
        <!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol id="plyr-airplay"><path d="M16 1H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h3v-2H3V3h12v8h-2v2h3a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path><path d="M4 17h10l-5-6z"></path></symbol><symbol id="plyr-captions-off"><path d="M1 1c-.6 0-1 .4-1 1v11c0 .6.4 1 1 1h4.6l2.7 2.7c.2.2.4.3.7.3.3 0 .5-.1.7-.3l2.7-2.7H17c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1H1zm4.52 10.15c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41C8.47 4.96 7.46 3.76 5.5 3.76c-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69zm7.57 0c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41c-.28-1.15-1.29-2.35-3.25-2.35-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69z" fill-rule="evenodd" fill-opacity=".5"></path></symbol><symbol id="plyr-captions-on"><path d="M1 1c-.6 0-1 .4-1 1v11c0 .6.4 1 1 1h4.6l2.7 2.7c.2.2.4.3.7.3.3 0 .5-.1.7-.3l2.7-2.7H17c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1H1zm4.52 10.15c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41C8.47 4.96 7.46 3.76 5.5 3.76c-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69zm7.57 0c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41c-.28-1.15-1.29-2.35-3.25-2.35-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69z" fill-rule="evenodd"></path></symbol><symbol id="plyr-download"><path d="M9 13c.3 0 .5-.1.7-.3L15.4 7 14 5.6l-4 4V1H8v8.6l-4-4L2.6 7l5.7 5.7c.2.2.4.3.7.3zm-7 2h14v2H2z"></path></symbol><symbol id="plyr-enter-fullscreen"><path d="M10 3h3.6l-4 4L11 8.4l4-4V8h2V1h-7zM7 9.6l-4 4V10H1v7h7v-2H4.4l4-4z"></path></symbol><symbol id="plyr-exit-fullscreen"><path d="M1 12h3.6l-4 4L2 17.4l4-4V17h2v-7H1zM16 .6l-4 4V1h-2v7h7V6h-3.6l4-4z"></path></symbol><symbol id="plyr-fast-forward"><path d="M7.875 7.171L0 1v16l7.875-6.171V17L18 9 7.875 1z"></path></symbol><symbol id="plyr-logo-vimeo"><path d="M17 5.3c-.1 1.6-1.2 3.7-3.3 6.4-2.2 2.8-4 4.2-5.5 4.2-.9 0-1.7-.9-2.4-2.6C5 10.9 4.4 6 3 6c-.1 0-.5.3-1.2.8l-.8-1c.8-.7 3.5-3.4 4.7-3.5 1.2-.1 2 .7 2.3 2.5.3 2 .8 6.1 1.8 6.1.9 0 2.5-3.4 2.6-4 .1-.9-.3-1.9-2.3-1.1.8-2.6 2.3-3.8 4.5-3.8 1.7.1 2.5 1.2 2.4 3.3z"></path></symbol><symbol id="plyr-logo-youtube"><path d="M16.8 5.8c-.2-1.3-.8-2.2-2.2-2.4C12.4 3 9 3 9 3s-3.4 0-5.6.4C2 3.6 1.3 4.5 1.2 5.8 1 7.1 1 9 1 9s0 1.9.2 3.2c.2 1.3.8 2.2 2.2 2.4C5.6 15 9 15 9 15s3.4 0 5.6-.4c1.4-.3 2-1.1 2.2-2.4.2-1.3.2-3.2.2-3.2s0-1.9-.2-3.2zM7 12V6l5 3-5 3z"></path></symbol><symbol id="plyr-muted"><path d="M12.4 12.5l2.1-2.1 2.1 2.1 1.4-1.4L15.9 9 18 6.9l-1.4-1.4-2.1 2.1-2.1-2.1L11 6.9 13.1 9 11 11.1zM3.786 6.008H.714C.286 6.008 0 6.31 0 6.76v4.512c0 .452.286.752.714.752h3.072l4.071 3.858c.5.3 1.143 0 1.143-.602V2.752c0-.601-.643-.977-1.143-.601L3.786 6.008z"></path></symbol><symbol id="plyr-pause"><path d="M6 1H3c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h3c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1zm6 0c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h3c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1h-3z"></path></symbol><symbol id="plyr-pip"><path d="M13.293 3.293L7.022 9.564l1.414 1.414 6.271-6.271L17 7V1h-6z"></path><path d="M13 15H3V5h5V3H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-6h-2v5z"></path></symbol><symbol id="plyr-play"><path d="M15.562 8.1L3.87.225c-.818-.562-1.87 0-1.87.9v15.75c0 .9 1.052 1.462 1.87.9L15.563 9.9c.584-.45.584-1.35 0-1.8z"></path></symbol><symbol id="plyr-restart"><path d="M9.7 1.2l.7 6.4 2.1-2.1c1.9 1.9 1.9 5.1 0 7-.9 1-2.2 1.5-3.5 1.5-1.3 0-2.6-.5-3.5-1.5-1.9-1.9-1.9-5.1 0-7 .6-.6 1.4-1.1 2.3-1.3l-.6-1.9C6 2.6 4.9 3.2 4 4.1 1.3 6.8 1.3 11.2 4 14c1.3 1.3 3.1 2 4.9 2 1.9 0 3.6-.7 4.9-2 2.7-2.7 2.7-7.1 0-9.9L16 1.9l-6.3-.7z"></path></symbol><symbol id="plyr-rewind"><path d="M10.125 1L0 9l10.125 8v-6.171L18 17V1l-7.875 6.171z"></path></symbol><symbol id="plyr-settings"><path d="M16.135 7.784a2 2 0 0 1-1.23-2.969c.322-.536.225-.998-.094-1.316l-.31-.31c-.318-.318-.78-.415-1.316-.094a2 2 0 0 1-2.969-1.23C10.065 1.258 9.669 1 9.219 1h-.438c-.45 0-.845.258-.997.865a2 2 0 0 1-2.969 1.23c-.536-.322-.999-.225-1.317.093l-.31.31c-.318.318-.415.781-.093 1.317a2 2 0 0 1-1.23 2.969C1.26 7.935 1 8.33 1 8.781v.438c0 .45.258.845.865.997a2 2 0 0 1 1.23 2.969c-.322.536-.225.998.094 1.316l.31.31c.319.319.782.415 1.316.094a2 2 0 0 1 2.969 1.23c.151.607.547.865.997.865h.438c.45 0 .845-.258.997-.865a2 2 0 0 1 2.969-1.23c.535.321.997.225 1.316-.094l.31-.31c.318-.318.415-.781.094-1.316a2 2 0 0 1 1.23-2.969c.607-.151.865-.547.865-.997v-.438c0-.451-.26-.846-.865-.997zM9 12a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path></symbol><symbol id="plyr-volume"><path d="M15.6 3.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4C15.4 5.9 16 7.4 16 9c0 1.6-.6 3.1-1.8 4.3-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3C17.1 13.2 18 11.2 18 9s-.9-4.2-2.4-5.7z"></path><path d="M11.282 5.282a.909.909 0 0 0 0 1.316c.735.735.995 1.458.995 2.402 0 .936-.425 1.917-.995 2.487a.909.909 0 0 0 0 1.316c.145.145.636.262 1.018.156a.725.725 0 0 0 .298-.156C13.773 11.733 14.13 10.16 14.13 9c0-.17-.002-.34-.011-.51-.053-.992-.319-2.005-1.522-3.208a.909.909 0 0 0-1.316 0zm-7.496.726H.714C.286 6.008 0 6.31 0 6.76v4.512c0 .452.286.752.714.752h3.072l4.071 3.858c.5.3 1.143 0 1.143-.602V2.752c0-.601-.643-.977-1.143-.601L3.786 6.008z"></path></symbol></svg></div>



    <main>

        <div class="main-wrapper">
            <div class="profile-banner-large bg-img" data-bg="assets/images/banner/profile-banner.jpg" style="background-image: url(&quot;assets/images/banner/profile-banner.jpg&quot;);">
            </div>
            <div class="profile-menu-area bg-white">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-3">
                            <div class="profile-picture-box">
                                <figure class="profile-picture">
                                    <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html">
                                        <img src="images/profile-1.jpg" alt="profile picture">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 offset-lg-1">
                            <div class="profile-menu-wrapper">
                                <div class="main-menu-inner header-top-navigation">
                                    <nav>
                                        <ul class="main-menu">
                                            <li class="active"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">timeline</a></li>
                                            <li><a href="https://demo.hasthemes.com/adda-preview/adda/about.html">about</a></li>
                                            <li><a href="https://demo.hasthemes.com/adda-preview/adda/photos.html">photos</a></li>
                                            <li><a href="https://demo.hasthemes.com/adda-preview/adda/friends.html">friends</a></li>
                                            <li><a href="https://demo.hasthemes.com/adda-preview/adda/about.html">more</a></li>
                                            <!-- <li class="d-inline-block d-md-none"><a href="profile.html">edit profile</a></li> -->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 d-none d-md-block">
                            <div class="profile-edit-panel">
                                <button class="edit-btn">edit profile</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-2 order-lg-1">
                        <aside class="widget-area profile-sidebar">
                            <!-- widget single item start -->
                            <div class="card widget-item">
                                <h4 class="widget-title">kate palson</h4>
                                <div class="widget-body">
                                    <div class="about-author">
                                        <p>I Don’t know how? But i believe that it is possible one day if i stay with my dream all time</p>
                                        <ul class="author-into-list">
                                            <li><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#"><i class="bi bi-office-bag"></i>Graphic Designer</a></li>
                                            <li><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#"><i class="bi bi-home"></i>Melbourne, Australia</a></li>
                                            <li><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#"><i class="bi bi-location-pointer"></i>Pulshar, Melbourne</a></li>
                                            <li><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#"><i class="bi bi-heart-beat"></i>Travel, Swimming</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- widget single item end -->

                            <!-- widget single item start -->
                            <div class="card widget-item">
                                <h4 class="widget-title">Sweets Memories</h4>
                                <div class="widget-body">
                                    <div class="sweet-galley img-gallery">
                                        <div class="row row-5">
                                            <div class="col-4">
                                                <div class="gallery-tem">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="images/gallery-1.jpg">
                                                            <img src="images/gallery-1.jpg" alt="sweet memory">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="gallery-tem">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="images/gallery-2.jpg">
                                                            <img src="images/gallery-2.jpg" alt="sweet memory">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="gallery-tem">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="images/gallery-3.jpg">
                                                            <img src="images/gallery-3.jpg" alt="sweet memory">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="gallery-tem">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="images/gallery-4.jpg">
                                                            <img src="images/gallery-4.jpg" alt="sweet memory">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="gallery-tem">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="images/gallery-5.jpg">
                                                            <img src="images/gallery-5.jpg" alt="sweet memory">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="gallery-tem">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="images/gallery-6.jpg">
                                                            <img src="images/gallery-6.jpg" alt="sweet memory">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="gallery-tem">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="images/gallery-7.jpg">
                                                            <img src="images/gallery-7.jpg" alt="sweet memory">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="gallery-tem">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="images/gallery-8.jpg">
                                                            <img src="images/gallery-8.jpg" alt="sweet memory">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="gallery-tem">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="images/gallery-9.jpg">
                                                            <img src="images/gallery-9.jpg" alt="sweet memory">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- widget single item end -->

                            <!-- widget single item start -->
                            <div class="card widget-item">
                                <h4 class="widget-title">page you may like</h4>
                                <div class="widget-body">
                                    <ul class="like-page-list-wrapper">
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-33.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Travel The World</a></h3>
                                                <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">adventure</a></p>
                                            </div>
                                            <button class="like-button active">
                                                    <img class="heart" src="images/heart.png" alt="">
                                                    <img class="heart-color" src="images/heart-color.png" alt="">
                                                </button>
                                        </li>
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-30.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Foodcort Nirala</a></h3>
                                                <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">food</a></p>
                                            </div>
                                            <button class="like-button">
                                                    <img class="heart" src="images/heart.png" alt="">
                                                    <img class="heart-color" src="images/heart-color.png" alt="">
                                                </button>
                                        </li>
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-5.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Rolin Theitar</a></h3>
                                                <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">drama</a></p>
                                            </div>
                                            <button class="like-button">
                                                    <img class="heart" src="images/heart.png" alt="">
                                                    <img class="heart-color" src="images/heart-color.png" alt="">
                                                </button>
                                        </li>
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-29.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Active Mind</a></h3>
                                                <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">fitness</a></p>
                                            </div>
                                            <button class="like-button">
                                                    <img class="heart" src="images/heart.png" alt="">
                                                    <img class="heart-color" src="images/heart-color.png" alt="">
                                                </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- widget single item end -->
                        </aside>
                    </div>

                    <div class="col-lg-6 order-1 order-lg-2">
                        <!-- share box start -->
                        <div class="card card-small">
                            <div class="share-box-inner">
                                <!-- profile picture end -->
                                <div class="profile-thumb">
                                    <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                        <figure class="profile-thumb-middle">
                                            <img src="images/profile-small-37.jpg" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>
                                <!-- profile picture end -->

                                <!-- share content box start -->
                                <div class="share-content-box w-100">
                                    <form class="share-text-box">
                                        <textarea name="share" class="share-text-field" aria-disabled="true" placeholder="Say Something" data-toggle="modal" data-target="#textbox" id="email"></textarea>
                                        <button class="btn-share" type="submit">share</button>
                                    </form>
                                </div>
                                <!-- share content box end -->
                                <!-- Modal start -->
                                <div class="modal fade" id="textbox" aria-labelledby="textbox">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Share Your Mood</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                            </div>
                                            <div class="modal-body custom-scroll ps">
                                                <textarea name="share" class="share-field-big custom-scroll ps" placeholder="Say Something"><div class="ps__rail-x" style="left: 0px; bottom: 3px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 2px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></textarea>
                                                <div class="ps__rail-x" style="left: 0px; bottom: 3px;">
                                                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                                </div>
                                                <div class="ps__rail-y" style="top: 0px; right: 2px;">
                                                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="post-share-btn" data-dismiss="modal">cancel</button>
                                                <button type="button" class="post-share-btn">post</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </div>
                        </div>
                        <!-- share box end -->

                        <!-- post status start -->
                        <div class="card">
                            <!-- post title start -->
                            <div class="post-title d-flex align-items-center">
                                <!-- profile picture end -->
                                <div class="profile-thumb">
                                    <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                        <figure class="profile-thumb-middle">
                                            <img src="images/profile-small-5.jpg" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>
                                <!-- profile picture end -->

                                <div class="posted-author">
                                    <h6 class="author"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html">Kate Palson</a></h6>
                                    <span class="post-time">35 min ago</span>
                                </div>

                                <div class="post-settings-bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <div class="post-settings arrow-shape">
                                        <ul>
                                            <li><button>copy link to adda</button></li>
                                            <li><button>edit post</button></li>
                                            <li><button>embed adda</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- post title start -->
                            <div class="post-content">
                                <p class="post-desc">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                </p>
                                <div class="post-thumb-gallery img-gallery">
                                    <div class="row no-gutters">
                                        <div class="col-8">
                                            <figure class="post-thumb">
                                                <a class="gallery-selector" href="https://demo.hasthemes.com/adda-preview/adda/assets/images/post/post-large-2.jpg">
                                                    <img src="images/post-2.jpg" alt="post image">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="https://demo.hasthemes.com/adda-preview/adda/assets/images/post/post-large-3.jpg">
                                                            <img src="images/post-3.jpg" alt="post image">
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-12">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="https://demo.hasthemes.com/adda-preview/adda/assets/images/post/post-large-4.jpg">
                                                            <img src="images/post-4.jpg" alt="post image">
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-12">
                                                    <figure class="post-thumb">
                                                        <a class="gallery-selector" href="https://demo.hasthemes.com/adda-preview/adda/assets/images/post/post-large-5.jpg">
                                                            <img src="images/post-5.jpg" alt="post image">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-meta">
                                    <button class="post-meta-like">
                                            <i class="bi bi-heart-beat"></i>
                                            <span>You and 207 people like this</span>
                                            <strong>207</strong>
                                        </button>
                                    <ul class="comment-share-meta">
                                        <li>
                                            <button class="post-comment">
                                                    <i class="bi bi-chat-bubble"></i>
                                                    <span>41</span>
                                                </button>
                                        </li>
                                        <li>
                                            <button class="post-share">
                                                    <i class="bi bi-share"></i>
                                                    <span>07</span>
                                                </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- post status end -->

                        <!-- post status start -->
                        <div class="card">
                            <!-- post title start -->
                            <div class="post-title d-flex align-items-center">
                                <!-- profile picture end -->
                                <div class="profile-thumb">
                                    <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                        <figure class="profile-thumb-middle">
                                            <img src="images/profile-small-3.jpg" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>
                                <!-- profile picture end -->

                                <div class="posted-author">
                                    <h6 class="author"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html">Jon Wileyam</a></h6>
                                    <span class="post-time">15 min ago</span>
                                </div>

                                <div class="post-settings-bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <div class="post-settings arrow-shape">
                                        <ul>
                                            <li><button>copy link to adda</button></li>
                                            <li><button>edit post</button></li>
                                            <li><button>embed adda</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- post title start -->
                            <div class="post-content">
                                <p class="post-desc pb-0">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                                </p>
                                <div class="post-meta">
                                    <button class="post-meta-like">
                                            <i class="bi bi-heart-beat"></i>
                                            <span>You and 201 people like this</span>
                                            <strong>201</strong>
                                        </button>
                                    <ul class="comment-share-meta">
                                        <li>
                                            <button class="post-comment">
                                                    <i class="bi bi-chat-bubble"></i>
                                                    <span>41</span>
                                                </button>
                                        </li>
                                        <li>
                                            <button class="post-share">
                                                    <i class="bi bi-share"></i>
                                                    <span>07</span>
                                                </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- post status end -->

                        <!-- post status start -->
                        <div class="card">
                            <!-- post title start -->
                            <div class="post-title d-flex align-items-center">
                                <!-- profile picture end -->
                                <div class="profile-thumb">
                                    <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                        <figure class="profile-thumb-middle">
                                            <img src="images/profile-small-4.jpg" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>
                                <!-- profile picture end -->

                                <div class="posted-author">
                                    <h6 class="author"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html">william henry</a></h6>
                                    <span class="post-time">35 min ago</span>
                                </div>

                                <div class="post-settings-bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <div class="post-settings arrow-shape">
                                        <ul>
                                            <li><button>copy link to adda</button></li>
                                            <li><button>edit post</button></li>
                                            <li><button>embed adda</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- post title start -->
                            <div class="post-content">
                                <p class="post-desc">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                </p>
                                <div class="plyr plyr--full-ui plyr--video plyr--youtube plyr--fullscreen-enabled plyr--paused plyr--stopped plyr__poster-enabled">
                                    <div class="plyr__controls"><button type="button" class="plyr__control" data-plyr="play" aria-label="Play"><svg class="icon--pressed" role="presentation" focusable="false"><use href="#plyr-pause"></use></svg><svg class="icon--not-pressed" role="presentation" focusable="false"><use href="#plyr-play"></use></svg><span class="label--pressed plyr__sr-only">Pause</span><span class="label--not-pressed plyr__sr-only">Play</span></button>
                                        <div class="plyr__progress"><input data-plyr="seek" type="range" min="0" max="100" step="0.01" value="0" autocomplete="off" role="slider" aria-label="Seek" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" id="plyr-seek-2741" style="--value:0%;">
                                            <progress class="plyr__progress__buffer" min="0" max="100" value="0" role="progressbar" aria-hidden="true">% buffered</progress><span class="plyr__tooltip">00:00</span></div>
                                        <div class="plyr__time plyr__time--current" aria-label="Current time">-02:24</div>
                                        <div class="plyr__volume"><button type="button" class="plyr__control" data-plyr="mute"><svg class="icon--pressed" role="presentation" focusable="false"><use href="#plyr-muted"></use></svg><svg class="icon--not-pressed" role="presentation" focusable="false"><use href="#plyr-volume"></use></svg><span class="label--pressed plyr__sr-only">Unmute</span><span class="label--not-pressed plyr__sr-only">Mute</span></button>
                                            <input data-plyr="volume" type="range" min="0" max="1" step="0.05" value="1" autocomplete="off" role="slider" aria-label="Volume" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" id="plyr-volume-2741" aria-valuetext="100.0%" style="--value:100%;"></div>
                                        <button type="button" class="plyr__control" data-plyr="captions"><svg class="icon--pressed" role="presentation" focusable="false"><use href="#plyr-captions-on"></use></svg><svg class="icon--not-pressed" role="presentation" focusable="false"><use href="#plyr-captions-off"></use></svg>
                                            <span
                                                class="label--pressed plyr__sr-only">Disable captions</span><span class="label--not-pressed plyr__sr-only">Enable captions</span></button>
                                        <div class="plyr__menu"><button aria-haspopup="true" aria-controls="plyr-settings-2741" aria-expanded="false" type="button" class="plyr__control" data-plyr="settings"><svg role="presentation" focusable="false"><use href="#plyr-settings"></use></svg><span class="plyr__sr-only">Settings</span></button>
                                            <div class="plyr__menu__container" id="plyr-settings-2741" hidden="">
                                                <div>
                                                    <div id="plyr-settings-2741-home">
                                                        <div role="menu"><button data-plyr="settings" type="button" class="plyr__control plyr__control--forward" role="menuitem" aria-haspopup="true" hidden=""><span>Captions<span class="plyr__menu__value">Disabled</span></span></button>
                                                            <button data-plyr="settings" type="button" class="plyr__control plyr__control--forward" role="menuitem" aria-haspopup="true" hidden=""><span>Quality<span class="plyr__menu__value">undefined</span></span>
                                                            </button><button data-plyr="settings" type="button" class="plyr__control plyr__control--forward" role="menuitem" aria-haspopup="true"><span>Speed<span class="plyr__menu__value">Normal</span></span></button></div>
                                                    </div>
                                                    <div id="plyr-settings-2741-captions" hidden=""><button type="button" class="plyr__control plyr__control--back"><span aria-hidden="true">Captions</span><span class="plyr__sr-only">Go back to previous menu</span></button>
                                                        <div role="menu"></div>
                                                    </div>
                                                    <div id="plyr-settings-2741-quality" hidden=""><button type="button" class="plyr__control plyr__control--back"><span aria-hidden="true">Quality</span><span class="plyr__sr-only">Go back to previous menu</span></button>
                                                        <div role="menu"></div>
                                                    </div>
                                                    <div id="plyr-settings-2741-speed" hidden=""><button type="button" class="plyr__control plyr__control--back"><span aria-hidden="true">Speed</span><span class="plyr__sr-only">Go back to previous menu</span></button>
                                                        <div role="menu"><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="0.5"><span>0.5×</span></button><button data-plyr="speed" type="button" role="menuitemradio"
                                                                class="plyr__control" aria-checked="false" value="0.75"><span>0.75×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="true" value="1"><span>Normal</span></button>
                                                            <button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="1.25"><span>1.25×</span></button><button data-plyr="speed" type="button" role="menuitemradio"
                                                                class="plyr__control" aria-checked="false" value="1.5"><span>1.5×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="1.75"><span>1.75×</span></button>
                                                            <button
                                                                data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="2"><span>2×</span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><button type="button" class="plyr__control" data-plyr="pip"><svg role="presentation" focusable="false"><use href="#plyr-pip"></use></svg><span class="plyr__sr-only">PIP</span></button><button type="button" class="plyr__control"
                                            data-plyr="fullscreen"><svg class="icon--pressed" role="presentation" focusable="false"><use href="#plyr-exit-fullscreen"></use></svg><svg class="icon--not-pressed" role="presentation" focusable="false"><use href="#plyr-enter-fullscreen"></use></svg><span class="label--pressed plyr__sr-only">Exit fullscreen</span><span class="label--not-pressed plyr__sr-only">Enter fullscreen</span></button></div>
                                    <div class="plyr__video-wrapper plyr__video-embed" style="padding-bottom: 56.25%;"><iframe id="youtube-6856" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="Player for " width="640" height="360" src="images/WeA7edXsU40.html"></iframe>
                                        <div class="plyr__poster" style="background-image: url(&quot;https://img.youtube.com/vi/WeA7edXsU40/maxresdefault.jpg&quot;);"></div>
                                    </div>
                                    <button type="button" class="plyr__control plyr__control--overlaid" data-plyr="play" aria-label="Play"><svg role="presentation" focusable="false"><use href="#plyr-play"></use></svg><span class="plyr__sr-only">Play</span></button></div>
                                <div class="post-meta">
                                    <button class="post-meta-like">
                                            <i class="bi bi-heart-beat"></i>
                                            <span>You and 201 people like this</span>
                                            <strong>201</strong>
                                        </button>
                                    <ul class="comment-share-meta">
                                        <li>
                                            <button class="post-comment">
                                                    <i class="bi bi-chat-bubble"></i>
                                                    <span>41</span>
                                                </button>
                                        </li>
                                        <li>
                                            <button class="post-share">
                                                    <i class="bi bi-share"></i>
                                                    <span>07</span>
                                                </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- post status end -->

                        <!-- post status start -->
                        <div class="card">
                            <!-- post title start -->
                            <div class="post-title d-flex align-items-center">
                                <!-- profile picture end -->
                                <div class="profile-thumb">
                                    <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                        <figure class="profile-thumb-middle">
                                            <img src="images/profile-small-8.jpg" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>
                                <!-- profile picture end -->

                                <div class="posted-author">
                                    <h6 class="author"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html">Mili Raoulin</a></h6>
                                    <span class="post-time">50 min ago</span>
                                </div>

                                <div class="post-settings-bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <div class="post-settings arrow-shape">
                                        <ul>
                                            <li><button>copy link to adda</button></li>
                                            <li><button>edit post</button></li>
                                            <li><button>embed adda</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- post title start -->
                            <div class="post-content">
                                <p class="post-desc">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                </p>
                                <div class="post-thumb-gallery img-gallery">
                                    <div class="row no-gutters">
                                        <div class="col-6">
                                            <figure class="post-thumb">
                                                <a class="gallery-selector" href="https://demo.hasthemes.com/adda-preview/adda/assets/images/post/post-large-6.jpg">
                                                    <img src="images/post-6.jpg" alt="post image">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-6">
                                            <figure class="post-thumb">
                                                <a class="gallery-selector" href="https://demo.hasthemes.com/adda-preview/adda/assets/images/post/post-large-7.jpg">
                                                    <img src="images/post-7.jpg" alt="post image">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-meta">
                                    <button class="post-meta-like">
                                            <i class="bi bi-heart-beat"></i>
                                            <span>You and 230 people like this</span>
                                            <strong>230</strong>
                                        </button>
                                    <ul class="comment-share-meta">
                                        <li>
                                            <button class="post-comment">
                                                    <i class="bi bi-chat-bubble"></i>
                                                    <span>65</span>
                                                </button>
                                        </li>
                                        <li>
                                            <button class="post-share">
                                                    <i class="bi bi-share"></i>
                                                    <span>04</span>
                                                </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- post status end -->

                        <!-- post status start -->
                        <div class="card">
                            <!-- post title start -->
                            <div class="post-title d-flex align-items-center">
                                <!-- profile picture end -->
                                <div class="profile-thumb">
                                    <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                        <figure class="profile-thumb-middle">
                                            <img src="images/profile-small-6.jpg" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>
                                <!-- profile picture end -->

                                <div class="posted-author">
                                    <h6 class="author"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html">Robart Faul</a></h6>
                                    <span class="post-time">40 min ago</span>
                                </div>

                                <div class="post-settings-bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <div class="post-settings arrow-shape">
                                        <ul>
                                            <li><button>copy link to adda</button></li>
                                            <li><button>edit post</button></li>
                                            <li><button>embed adda</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- post title start -->
                            <div class="post-content">
                                <p class="post-desc pb-0">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for Many desktop
                                    publishing duskam azer.
                                </p>
                                <div class="post-meta">
                                    <button class="post-meta-like">
                                            <i class="bi bi-heart-beat"></i>
                                            <span>You and 250 people like this</span>
                                            <strong>250</strong>
                                        </button>
                                    <ul class="comment-share-meta">
                                        <li>
                                            <button class="post-comment">
                                                    <i class="bi bi-chat-bubble"></i>
                                                    <span>80</span>
                                                </button>
                                        </li>
                                        <li>
                                            <button class="post-share">
                                                    <i class="bi bi-share"></i>
                                                    <span>10</span>
                                                </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- post status end -->

                        <!-- post status start -->
                        <div class="card">
                            <!-- post title start -->
                            <div class="post-title d-flex align-items-center">
                                <!-- profile picture end -->
                                <div class="profile-thumb">
                                    <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                        <figure class="profile-thumb-middle">
                                            <img src="images/profile-small-2.jpg" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>
                                <!-- profile picture end -->

                                <div class="posted-author">
                                    <h6 class="author"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html">merry watson</a></h6>
                                    <span class="post-time">20 min ago</span>
                                </div>

                                <div class="post-settings-bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <div class="post-settings arrow-shape">
                                        <ul>
                                            <li><button>copy link to adda</button></li>
                                            <li><button>edit post</button></li>
                                            <li><button>embed adda</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- post title start -->
                            <div class="post-content">
                                <p class="post-desc">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                </p>
                                <div class="post-thumb-gallery">
                                    <figure class="post-thumb img-popup">
                                        <a href="https://demo.hasthemes.com/adda-preview/adda/assets/images/post/post-large-1.jpg">
                                            <img src="images/post-1.jpg" alt="post image">
                                        </a>
                                    </figure>
                                </div>
                                <div class="post-meta">
                                    <button class="post-meta-like">
                                            <i class="bi bi-heart-beat"></i>
                                            <span>You and 201 people like this</span>
                                            <strong>201</strong>
                                        </button>
                                    <ul class="comment-share-meta">
                                        <li>
                                            <button class="post-comment">
                                                    <i class="bi bi-chat-bubble"></i>
                                                    <span>41</span>
                                                </button>
                                        </li>
                                        <li>
                                            <button class="post-share">
                                                    <i class="bi bi-share"></i>
                                                    <span>07</span>
                                                </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- post status end -->

                        <!-- post status start -->
                        <div class="card">
                            <!-- post title start -->
                            <div class="post-title d-flex align-items-center">
                                <!-- profile picture end -->
                                <div class="profile-thumb">
                                    <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                        <figure class="profile-thumb-middle">
                                            <img src="images/profile-small-3.jpg" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>
                                <!-- profile picture end -->

                                <div class="posted-author">
                                    <h6 class="author"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html">Jon Wileyam</a></h6>
                                    <span class="post-time">15 min ago</span>
                                </div>

                                <div class="post-settings-bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <div class="post-settings arrow-shape">
                                        <ul>
                                            <li><button>copy link to adda</button></li>
                                            <li><button>edit post</button></li>
                                            <li><button>embed adda</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- post title start -->
                            <div class="post-content">
                                <p class="post-desc pb-0">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                                </p>
                                <div class="post-meta">
                                    <button class="post-meta-like">
                                            <i class="bi bi-heart-beat"></i>
                                            <span>You and 204 people like this</span>
                                            <strong>204</strong>
                                        </button>
                                    <ul class="comment-share-meta">
                                        <li>
                                            <button class="post-comment">
                                                    <i class="bi bi-chat-bubble"></i>
                                                    <span>41</span>
                                                </button>
                                        </li>
                                        <li>
                                            <button class="post-share">
                                                    <i class="bi bi-share"></i>
                                                    <span>07</span>
                                                </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- post status end -->
                    </div>

                    <div class="col-lg-3 order-3">
                        <aside class="widget-area">
                            <!-- widget single item start -->
                            <div class="card widget-item">
                                <h4 class="widget-title">Recent Notifications</h4>
                                <div class="widget-body">
                                    <ul class="like-page-list-wrapper">
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-9.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Any one can join with us if you want</a></h3>
                                                <p class="list-subtitle">5 min ago</p>
                                            </div>
                                        </li>
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-35.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Any one can join with us if you want</a></h3>
                                                <p class="list-subtitle">10 min ago</p>
                                            </div>
                                        </li>
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-15.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Any one can join with us if you want</a></h3>
                                                <p class="list-subtitle">18 min ago</p>
                                            </div>
                                        </li>
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-6.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Any one can join with us if you want</a></h3>
                                                <p class="list-subtitle">25 min ago</p>
                                            </div>
                                        </li>
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-34.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Any one can join with us if you want</a></h3>
                                                <p class="list-subtitle">39 min ago</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- widget single item end -->

                            <!-- widget single item start -->
                            <div class="card widget-item">
                                <h4 class="widget-title">Advertizement</h4>
                                <div class="widget-body">
                                    <div class="add-thumb">
                                        <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                            <img src="images/advertise.jpg" alt="advertisement">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- widget single item end -->

                            <!-- widget single item start -->
                            <div class="card widget-item">
                                <h4 class="widget-title">Friends Zone</h4>
                                <div class="widget-body">
                                    <ul class="like-page-list-wrapper">
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-10.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">arfim bolt</a></h3>
                                                <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">10 mutual</a></p>
                                            </div>
                                            <button class="like-button">
                                                    <img class="heart" src="images/heart.png" alt="">
                                                    <img class="heart-color" src="images/heart-color.png" alt="">
                                                </button>
                                        </li>
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-2.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">marry wither</a></h3>
                                                <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">02 mutual</a></p>
                                            </div>
                                            <button class="like-button active">
                                                    <img class="heart" src="images/heart.png" alt="">
                                                    <img class="heart-color" src="images/heart-color.png" alt="">
                                                </button>
                                        </li>
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-5.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Rolin Theitar</a></h3>
                                                <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">drama</a></p>
                                            </div>
                                            <button class="like-button">
                                                    <img class="heart" src="images/heart.png" alt="">
                                                    <img class="heart-color" src="images/heart-color.png" alt="">
                                                </button>
                                        </li>
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">
                                                    <figure class="profile-thumb-small">
                                                        <img src="images/profile-small-14.jpg" alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">Active Mind</a></h3>
                                                <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/profile.html#">fitness</a></p>
                                            </div>
                                            <button class="like-button">
                                                    <img class="heart" src="images/heart.png" alt="">
                                                    <img class="heart-color" src="images/heart-color.png" alt="">
                                                </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- widget single item end -->
                        </aside>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="bi bi-finger-index"></i>
    </div>
    <!-- Scroll to Top End -->

    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="/modernizr-3.6.0.min.js.download"></script>
    <!-- jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Slick Slider JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <!-- nice select JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-nice-select@1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- audio video player JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.4/plyr.min.js"></script>
    <!-- perfect scrollbar js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js"></script>
    <!-- light gallery js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.min.js"></script>
    <!-- image loaded js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
    <!-- isotope filter js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <!-- Main JS -->
    <script src="/javascripts/main.js"></script>



</body>

</html>