body {
    padding-top: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#tdtu_logo {
    width: 50%;
}

.login-body{
    background: url("/images/bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-message{
    padding: 10px;
    color: rgb(221, 0, 0);
    font-size: 20px;
}

.login-form{
    background-color: white;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form .login-header{
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    margin: 10px;
    padding-bottom: 20px;
}

.login-form .form-control{
    width: 500px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

.login-form .form-control::-webkit-input-placeholder{
    font-size: 20px;
    color: rgb(170, 170, 170)
}

.login-form .login-btn{
    padding: 20px;
    width: 100%;
    background-color: #00B7FF;
    border-radius: 20px;
    font-size: 18px;
    color: white;
}

.google-signin-btn a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;    
    padding: 10px;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    font-size: 20px
}

.google-signin-btn a img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*------------------------------------------------------------------
Table of content
-------------------
1. Start Header Area
2. slider area start
3. features area css start
4. hot deals area css start
5. product
6. categories area
7. testimonial
8. blog
9. shop grid view
10. shop list view
11. product details
12. checkout
13. cart
14. wishlist
15. my account
16. compare
17. login register
18. about us
19. contact us
20. banner
21. modal
22. sidebar
23. footer
-------------------------------------------------------------------*/


/*------ Typography Style Start ------*/

body {
    color: #444444;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
    background-color: #f1f1f1;
    font-family: "Roboto", sans-serif;
}

a {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 8px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

strong,
b {
    font-weight: 700;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn,
button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.btn:active,
.btn:focus,
button:active,
button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input,
textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

::-moz-selection {
    color: #fff;
    background: #00B7FF;
}

::selection {
    color: #fff;
    background: #00B7FF;
}

::-webkit-input-placeholder {
    color: #999;
    font-size: 13px;
    opacity: 1;
}

::-moz-placeholder {
    color: #999;
    font-size: 13px;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #999;
    font-size: 13px;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #999;
    font-size: 13px;
    opacity: 1;
}

::placeholder {
    color: #999;
    font-size: 13px;
    opacity: 1;
}


/*Custom Scroll (Perfect Scroll)*/

.custom-scroll {
    position: relative;
    overflow: hidden;
}

.custom-scroll.ps .ps__rail-y,
.custom-scroll.ps .ps__rail-x {
    background-color: transparent;
}

.custom-scroll.ps .ps__rail-y [class*="ps__thumb"],
.custom-scroll.ps .ps__rail-x [class*="ps__thumb"] {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.custom-scroll.ps .ps__rail-y {
    width: 3px;
    right: 2px;
}

.custom-scroll.ps .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
}

.custom-scroll.ps .ps__rail-x {
    height: 6px;
    bottom: 3px;
}

.custom-scroll.ps .ps__rail-x .ps__thumb-x {
    height: 100%;
}

.slick-arrow-style button.slick-arrow {
    top: 50%;
    left: 0;
    color: #333333;
    font-size: 30px;
    cursor: pointer;
    display: block;
    line-height: 1;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.slick-arrow-style button.slick-arrow.slick-next {
    left: auto;
    right: 0;
}

.slick-arrow-style button.slick-arrow:hover {
    color: #00B7FF;
}

.slick-track {
    line-height: 1;
}


/* ----scroll to top css start ----*/

.scroll-top {
    bottom: 80px;
    cursor: pointer;
    height: 50px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 50px;
    z-index: 9999;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
    background-color: #00B7FF;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.scroll-top i {
    line-height: 50px;
    color: #fff;
    font-size: 25px;
}

.scroll-top.not-visible {
    bottom: -50px;
    visibility: hidden;
    opacity: 0;
}

.scroll-top:hover {
    background-color: #333333;
}


/* ----scroll to top css end ----*/

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 600px;
    }
}

@media only screen and (max-width: 767.98px) {
    .container {
        max-width: 500px;
    }
}

@media only screen and (max-width: 575.98px) {
    .container {
        max-width: 450px;
    }
}

.pt-80 {
    padding-top: 25px;
}

.mb-20 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 767.98px) {
    .mb-20 {
        margin-bottom: 10px;
    }
}

.mt-20 {
    margin-top: 20px;
}

@media only screen and (max-width: 767.98px) {
    .mt-20 {
        margin-top: 10px;
    }
}

.mt--20 {
    margin-top: -20px;
}

.mt--30 {
    margin-top: -30px;
}

.plr-80 {
    padding: 0 80px;
}


/*------- short classes end -------*/


/*----------------------------------------
            header area start
----------------------------------------*/

.header-top {
    -webkit-box-shadow: 0px 1px 20px 0px rgba(85, 85, 85, 0.25);
    box-shadow: 0px 1px 20px 0px rgba(85, 85, 85, 0.25);
    z-index: 999;
}

@media only screen and (max-width: 767.98px) {
    .header-top-navigation {
        text-align: center;
    }
}

.header-top-navigation ul li {
    display: inline-block;
    margin-right: 60px;
    position: relative;
    /* &:nth-child(3) {
                @media only screen and (max-width: 479.98px) {
                    padding-right: 0;
                    margin-right: 0;
                    &:before {
                        display: none;
                    }
                }
            } */
}

.header-top-navigation ul li:before {
    top: 50%;
    left: 100%;
    content: '/';
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}

@media only screen and (max-width: 767.98px) {
    .header-top-navigation ul li:before {
        display: block;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .header-top-navigation ul li {
        margin-right: 45px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .header-top-navigation ul li {
        margin-right: 15px;
        padding-right: 15px;
    }
}

.header-top-navigation ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.header-top-navigation ul li:last-child:before {
    display: none;
}

.header-top-navigation ul li a {
    color: #333333;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 21px 0;
    text-transform: capitalize;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .header-top-navigation ul li a {
        font-size: 14px;
        font-weight: 500;
        padding: 18px 0;
    }
}

@media only screen and (max-width: 767.98px) {
    .header-top-navigation ul li a {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 0;
    }
}

.header-top-navigation ul li:hover a,
.header-top-navigation ul li.active a {
    color: #00B7FF;
}


/*------ sticky menu style start ------*/

.sticky {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9;
    -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}


/*------ sticky menu style end ------*/


/*--------- mobile header start ---------*/

.mobile-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    height: 60px;
    z-index: 999;
}

.mobile-logo,
.mobile-header-profile {
    width: 80px;
    height: 100%;
    text-align: center;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.mobile-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.mobile-menu ul li {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.mobile-menu ul li a{
    color: black;
    font-weight: bold;
}

.mobile-menu ul li a:hover {
    color: #00B7FF;
}

.main-wrapper {
    padding-bottom: 105px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .main-wrapper {
        padding-bottom: 10px;
        margin-bottom: 60px;
    }
}

.widget-item,
.card-small,
.post-card {
    border: none;
    border-radius: 0;
    padding: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
}

@media only screen and (max-width: 767.98px) {
    .widget-item,
    .card-small {
        margin-bottom: 10px;
    }
}

.card-profile {
    padding: 0;
}

.widget-item:last-child,
.card-small:last-child {
    margin-bottom: 0;
}

.widget-item {
    padding: 25px;
}

.share-box-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.share-text-box {
    position: relative;
    padding-left: 15px;
}

.share-text-box .share-text-field {
    width: 100%;
    border: none;
    display: block;
    height: 44px;
    padding: 13px 90px 13px 20px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background-color: #f1f1f1;
    -webkit-box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
    box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}

.share-modal .modal-dialog {
    max-width: 600px;
}

.post-share-btn,
.cancel-share-btn,
.youtube-ok-btn {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 14px 30px 12px;
    border-radius: 40px;
    background-color: #00B7FF;
    text-transform: uppercase;
    cursor: pointer;
}

.post-share-btn:hover,
.cancel-share-btn:hover,
.youtube-ok-btn:hover  {
    background-color: #333333;
}

.author {
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.author a {
    color: #333333;
}

.author a:hover {
    color: #00B7FF;
    text-decoration: underline;
}

.profile-setting-box {
    position: relative;
}

.profile-setting-box .profile-thumb-small a {
    display: block;
}

.profile-setting-box .profile-dropdown {
    top: 100%;
    right: 0;
    width: 250px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    display: none;
}

.profile-setting-box .profile-head {
    padding: 20px;
}

.profile-setting-box .profile-head .name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 7px;
}

.profile-setting-box .profile-head .name a {
    color: #333333;
}

.profile-setting-box .profile-head .name a:hover {
    color: #00B7FF;
}

.profile-setting-box .profile-head .mail {
    font-size: 13px;
    color: #444444;
    display: block;
}

.profile-setting-box .profile-head .mail:hover {
    color: #00B7FF;
}

.profile-setting-box .profile-body ul {
    padding: 20px 0;
    border-top: 1px solid #dddddd;
}

.profile-setting-box .profile-body ul li {
    line-height: 1;
    margin-bottom: 15px;
}

.profile-setting-box .profile-body ul li:last-child {
    margin-bottom: 0;
}

.profile-setting-box .profile-body ul li a {
    color: #444444;
    padding: 0 20px;
}

.profile-setting-box .profile-body ul li a i {
    font-size: 16px;
    padding-right: 8px;
}

.profile-setting-box .profile-body ul li:hover a {
    color: #00B7FF;
}

.profile-thumb {
    display: inline-block;
    position: relative;
}

.profile-thumb-middle {
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

.profile-thumb.active {
    overflow: visible;
}

.profile-thumb.active img {
    border-radius: 50%;
}

.profile-thumb.active:before {
    bottom: 2px;
    right: -2px;
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 50%;
    position: absolute;
    background-color: #09ae82;
}

.profile-banner-small {
    text-align: center;
    position: relative;
}

.profile-banner-small:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    border: 10px solid rgba(84, 215, 255, 0.3);
}

.profile-thumb-2 {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    bottom: -40px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .widget-area {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767.98px) {
    .widget-area {
        margin-top: 10px;
    }
}


/*------- widget title start -------*/

.widget-title {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 45px;
    text-transform: capitalize;
    position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .widget-title {
        font-size: 16px;
    }
}

.widget-title:before {
    bottom: -12px;
    left: 0;
    width: 30px;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #00B7FF;
}


.bg-img {
    display: table-cell
}

.bg-img img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px
}

::-webkit-input-placeholder {
    color: #b2b2b2
}

::-moz-placeholder {
    color: #b2b2b2
}

:-ms-input-placeholder {
    color: #b2b2b2
}

:-moz-placeholder {
    color: #b2b2b2
}

select {
    -webkit-appearance: none;
    -moz-appearance: none
}

a:hover {
    color: initial
}

.follow {
    background-color: #53d690
}

.pagination {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 13px 25px
}

.pagination li {
    padding: 0;
    margin-right: 10px
}

.pagination li .page-link {
    background-color: #e5e5e5;
    color: #b2b2b2
}

.pagination li .page-link.active {
    background-color: #e44d3a;
    color: #fff;
    border-color: transparent
}

.dropdown a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px
}

.form-check {
    padding-left: 0
}

.form-group {
    margin-bottom: 1rem;
    padding-top: 0
}

.dropdown-menu input {
    margin-right: 10px;
    margin-top: 15px
}

.dropdown-menu a {
    padding: 10px 0 10px 40px;
    margin-bottom: 10px
}

.dropdown-menu form {
    margin-bottom: 10px;
    margin-top: 10px
}

.dropdown-menu.show {
    display: contents
}

.star {
    display: inline-flex;
    padding: 5px 0
}

.star li i {
    color: #bfd337
}

.input-group-prepend {
    background-color: #f3f3f3;
    color: #bfbfbf;
    text-align: center;
    line-height: 3;
    border: 1px solid #e5e5e5
}

.input-group-text {
    color: #666!important;
    background-color: #f5f5f5!important;
    border: 0!important;
    border-radius: 3px!important
}

ul#myTab {
    border-bottom: 1px solid #e5e5e5
}

.nav-tabs .nav-link {
    border: none
}

.noborder {
    border-bottom: none
}

.manbids {
    margin-bottom: 0!important
}

.noreply {
    padding-top: 30px
}

#my-bids .nav-tabs {
    margin-bottom: 20px;
    margin-top: 7px;
    padding-bottom: 0
}

#my-bids ul {
    margin-bottom: 15px;
    margin-top: 7px;
    padding-bottom: 0
}

.savedjob-info p {
    color: #666;
    margin-top: 5px
}

#my-bids ul li a {
    color: #000;
    font-size: 16px;
    font-weight: 500
}

#my-bids li a:hover {
    color: #e44d3a
}

#saved-jobs ul {
    margin-bottom: 20px
}

#saved-jobs ul li a {
    color: #000;
    font-size: 16px;
    font-weight: 500
}

#saved-jobs li a:hover {
    color: #e44d3a
}

.wordpressdevlp h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px
}

#saved-jobs .nav-tabs .nav-item.show .nav-link,
#saved-jobs .nav-tabs .nav-link.active {
    background-color: inherit;
    color: #e44d3a!important;
    padding-bottom: 9px;
    border-bottom: 2px solid #e44d3a!important
}

#my-bids .nav-tabs .nav-item.show .nav-link,
#my-bids .nav-tabs .nav-link.active {
    background-color: inherit;
    color: #e44d3a!important;
    padding-bottom: 9px;
    border-bottom: 2px solid #e44d3a!important
}

.descptab li img {
    float: left!important;
    filter: inherit!important
}

.bklink {
    border-bottom: none!important;
    width: unset!important;
    float: right!important
}

.bklik {
    border-bottom: none!important
}

.savedjob-info li {
    display: inline-block;
    padding-left: 25px
}

.savedjob-info h3 {
    font-size: 14px;
    font-weight: 500
}

.settingjb ul li {
    margin-right: 25px!important
}

.mangebid li {
    padding-left: 0;
    padding-right: 20px;
    padding-top: 10px
}

.bk-links.bklink li {
    padding-right: 0
}

.bidsbtn {
    position: relative
}

.biddersinfo li {
    padding-left: 0;
    padding-right: 20px
}

#review {
    background-color: #fff;
    margin-bottom: 40px
}

.starreview {
    padding-left: 20px
}

.replytext {
    padding-bottom: 20px
}

.starrevi {
    padding-left: 20px
}

.job-dt li a {
    background-color: #51a5fb
}

.apply-jobbox {
    text-align: center
}

.apply-jobbox form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    color: #222;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 14px
}

.apply-jobbox h3 {
    margin: 20px 0
}

.select-files {
    border: 1px solid #e5e5e5;
    margin-top: 20px;
    padding: 30px;
    background: #efefef
}

.select-files button {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600
}

.select-files button:hover {
    background-color: #e44d3a;
    color: #fff
}


/* .close {
    position: absolute;
    right: -25px;
    top: -25px;
    color: #fff;
    border: 1px solid!important;
    border-radius: 50%;
    height: 25px;
    width: 25px
} */

.mapouter iframe {
    width: 100%;
    height: 400px
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%
}

.gmap_canvas {
    overflow: hidden;
    background: 0 0!important
}

.custom-file-input {
    color: transparent;
    opacity: 1;
    margin-left: 140px;
    margin-bottom: 10px
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden
}

.custom-file-input::before {
    content: 'Select Files';
    color: #fff;
    display: inline-block;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #e44d3a;
    font-weight: 500;
    padding: 10px 15px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer
}

.custom-file-input:hover::before {
    background-color: #e44d3a;
    color: #fff
}

.custom-file-input:active {
    outline: 0
}

.custom-file-input:active::before {
    background: #e44d3a;
    color: #fff
}

.bids-time {
    float: right
}

.saved-post {
    padding: 0
}

.saved-post p {
    padding-bottom: 20px
}

.saved-info li {
    padding-right: 25px;
    padding-left: 0
}

.saved-btn {
    padding: 0;
    margin-bottom: -12px
}

.applied-post {
    padding: 0
}

.post-bid {
    padding: 0!important
}

.bidsbtn {
    padding-top: 0!important
}

.active-bids {
    padding: 0
}

.activ-bidinfo li {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 25px
}

.pic {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
}

.icon-comment {
    background-image: url("/images/icons/icon10.png ");
}


.attach {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.attach .picture,
.attach .video,
.attach .file {
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.picture-attach,
.video-attach,
.file-attach {
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: auto;
    margin: 5px;
}

.image-upload-preview {
    margin: 0px 20px 0px 20px;
    border: 1px solid gray;
    width: fit-content;
    padding: 5px;
}

.close-icon {
    cursor: pointer;
}

.share-your-mood {
    height: 700px;
}


/* ----- end share status area ----- */


/* ----- body area ----- */

.main-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.body-loading {
    display: flex;
    align-self: center;
    height: 75px;
    width: 75px;
}


/* ----- end body area ----- */


/* ----- department area ----- */

.department-card-container {
    margin-top: 50px;
}

.department-container {
    margin-top: 20px;
    display: block;
    margin-bottom: 30px;
}

.department-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.department-item .card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFF;
    max-width: 300px;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 250px;
}

.department-item .card img {
    max-width: 300px;
}

.department-item .card::after{
    content: "";
    top: 0px;
    right: 0px;
    padding-right: 5px;
    margin-left: -5px;
    height: 100%;;
    position: absolute;
    background-color: #0059a1;
}

.department-item .card:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.department-container .add-department {
    cursor: pointer;
}

.department-insert-container .rounded-lg {
    border-radius: 1rem;
}

.department-insert-container .nav-pills .nav-link {
    color: #555;
}

.department-insert-container .nav-pills .nav-link.active {
    color: #fff;
}

.department-insert-container .remove,
.department-insert-container .ok {
    margin: 5px;
    padding: 5px;
}

.department-insert-container .nice-select {
    display: none;
    ;
}

.department-insert-container .tab3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.department-insert-container .submit {
    align-self: center;
    width: fit-content;
    padding: 10px 20px 10px 20px;
}


/* ----- end department area ----- */


/* ----- status area ----- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.post-card {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.post-card .ellipsis {
    padding: 10px;
    color: #a09c9c
}

.post-card .ellipsis i,
.post-card .ellipsis .time {
    margin: 5px;
}

.post-card hr {
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px
}

.post-card .muted-color {
    color: #a09c9c;
    font-size: 13px
}

.post-card button {
    background-color: transparent;
    color: #a09c9c;
    font-size: 13px
}

.post-card .ellipsis i {
    margin-top: 3px;
    cursor: pointer
}

.post-card .icons i {
    font-size: 25px
}

.post-card .icons .fa-heart {
    color: red
}

.post-card .icons .fa-smile-o {
    color: yellow;
    font-size: 29px
}

.post-card .rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

.post-card .name {
    font-weight: 600
}

.post-card .comment-text {
    font-size: 12px
}

.post-card .status small {
    margin-right: 10px;
    color: blue
}

.post-card .form-control {
    border-radius: 26px
}

.post-card .comment-input {
    position: relative
}

.post-card .fonts {
    display: flex;
    position: absolute;
    right: 40px;
    color: #a09c9c;
    align-self: center;
    cursor: pointer;
}

.post-card .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
}

.post-card .post-meta-like {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.post-card .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.post-card .text-justify {
    margin: 10px;
}

.post-card a {
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}

.post-card iframe {
    width: 100%;
}

.post-card .option-menu {
    background-color: #fff;
    position: absolute;
    box-shadow: 1px 0 4px rgba(0, 0, 0, .24);
    text-align: center;
    z-index: 999;
}

.post-card .option-menu .dropdown-item {
    width: 100%;
    background-color: transparent;
    text-align: center;
}

.post-card .option-menu div {
    font-size: 13px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.option-dropdown {
    position: absolute;
    right: -20px;
    background-color: #f3f3f3;
}

.option-dropdown .dropdown-item {
    background-color: #f3f3f3;
}

.remove-confirm .ok-remove,
.remove-confirm .no-remove {
    padding: 10px 20px 10px 20px;
}

.comment-input {
    display: flex;
    flex-direction: row;
}

.comments {
    flex-direction: column;
    margin-top: 20px;
}

.comment-input-section {
    display: flex;
    margin-top: 20px;
}

.comments-container .hide-comment-section {
    width: 100%;
    text-align: center;
    margin: auto;
    color: #a09c9c;
    cursor: pointer;
    margin-top: 10px;
}

.comments-container {
    display: none;
}

.comments-container .load-more {
    margin: 15px 0px 5px 0px;
    cursor: pointer;
    color: #a09c9c;
}

.comments-container .load-more:hover {
    color: #212529;
}

hr {
    display: block;
}

.comment-loading {
    flex: 1;
    justify-self: center;
    display: none;
    width: 50px;
    height: auto;
}

.comments-container .user-comment {
    margin-bottom: 10px;
}

.comments-container .user-img-comment {
    width: 50px;
    height: 50px;
    float: left;
    margin-bottom: 15px;
}

.comments-container .user-ava-comment {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comments-container .user-comment-content {
    margin-left: 60px;
}

.comments-container .user-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.comments-container .user-comment-name {
    font-size: 13px;
}

.comments-container .user-comment-content a {
    color: #383b43;
}

.comments-container.user-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.comments-container .user-comment-time {
    text-align: right;
}

.comments-container .user-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.comments-container .user-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}


/* department insert area */

.insert-container {
    margin: 20px;
}

.invalid-feedback {
    border: 1px red solid;
}

.valid-feedback {
    border: 1px green solid;
}


/* end department insert area */


/* profile area */

.picture-and-name {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.picture-and-name .profile-picture-box{
    margin-bottom: 50px;
}

.profile-menu-area {
    margin-top: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .profile-menu-area {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 767.98px) {
    .profile-menu-area {
        padding: 15px;
    }
}

.profile-thumb-small {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

.profile-menu-area {
    margin-bottom: 20px;
    margin-top: 430px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    align-items: center;
}

.profile-picture img {
    height: 100%;
    width: auto;
    max-width: 140px;
    max-height: 140px;
}

.top-bar {
    position: absolute;
    background-color: white;
    top: 0px;
    width: 100%;
    height: 450px;
}

.profile-banner-large {
    position: absolute;
    top: 50px;
    max-height: 300px;
    width: 100%;
}

.email-name {
    position: absolute;
    bottom: 0px;
    left: 50%;
    top: 385px;
    width: fit-content;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    font-size: 20px;
}

.email-name .profile-email {
    margin: 5px;
    font-size: 13px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .profile-banner-large {
        height: 270px;
    }
}

@media only screen and (max-width: 767.98px) {
    .profile-banner-large {
        height: 190px;
    }
}

.main-menu li {
    display: inline-block;
}

.profile-edit-panel {
    text-align: center;
}

.edit-btn {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    padding: 11px 28px;
    display: inline-block;
    border-radius: 50px;
    text-transform: capitalize;
    background-color: #00B7FF;
}

@media only screen and (max-width: 767.98px) {
    .edit-btn {
        padding: 11px 15px;
    }
}

.edit-btn:hover {
    background-color: #333333;
}


.profile-picture-box {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 300px;
    -webkit-transform: translateY(calc(-50% - 10px));
    -ms-transform: translateY(calc(-50% - 10px));
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    
}

@media only screen and (max-width: 575.98px) {
    .profile-picture {
        width: 100px;
    }
}

.profile-picture:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    border: 10px solid #fff;
}

@media only screen and (max-width: 767.98px) {
    .profile-picture:before {
        border: 5px solid #fff;
    }
}
#profile-quote{
    padding: 10px;
}
.profile-desc {
    padding: 30px;
    margin-top: 25px;
}

.profile-desc p {
    font-size: 13px;
    color: #666666;
    padding-top: 10px;
}

.profile-modal .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-modal .profile-save-button {
    border-radius: 50px;
    color: white;
    background: #00B7FF;
    box-shadow: none;
    border: none
}

.profile-modal .profile-save-button:hover {
    background: #333333
}

.profile-modal .profile-save-button:focus {
    background: #333333;
    box-shadow: none
}

.profile-modal .profile-save-button:active {
    background: #333333;
    box-shadow: none
}

.profile-modal .back:hover {
    color: #333333;
    cursor: pointer
}

.profile-modal input {
    font-size: 13px;
}

.profile-modal .labels {
    font-size: 15px;
    /* font-weight: bold; */
}
.profile-modal .profile-picture-container{
    position: relative;
}
.profile-modal .modal-profile-picture,
.profile-modal .modal-profile-picture-preview {
    width: 100px;
    height: 100px;
}
.profile-modal .modal-profile-picture-preview{
    display: none;
}

.profile-modal .modal-profile-picture-edit{
    position: absolute;
    left: 0px;
    top: 10px;
}

.no-border {
    border: 0;
}


/* end profile area */


/* notification */

.noti-container .dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}

.noti-container .dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}

.noti-container .btn-light {
    color: #2cdd9b;
    background-color: #e5f7f0;
    border-color: #d8f7eb;
}


/* end notification */

.tox-tinymce {
    border: none;
}

.notifications-left-section,
.notifications-right-section{
    width: 100%;
    margin: 10px;
    height: 500px;
    margin-top: 50px;
}

.notifications-content,
.notifications-left-section,
.notifications-right-section{
    display: flex;
    flex-direction: column;
}

.create-noti-modal .modal-body,
.update-noti-modal .modal-body{
    display: flex;
    flex-direction: column;
}

.create-noti-modal .noti-modal-create,
.create-noti-modal .noti-modal-cancel,
.update-noti-modal .noti-modal-save,
.update-noti-modal .noti-modal-cancel{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

.create-noti-modal .noti-modal-cancel,
.update-noti-modal .noti-modal-cancel{
    background-color: rgb(221, 0, 0);
}
.create-noti-modal .noti-modal-create,
.update-noti-modal .noti-modal-save{
    background-color: rgb(6, 182, 0);
}
.create-noti-modal .form-check{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.create-noti-modal .form-check input{
    margin-left: 10px;
    height: 25px;
    width: 25px;
    background-color: rgb(159, 190, 219);
}
.create-noti-modal #noti-content{
    border-color: rgb(221, 0, 0);
}

.update-noti-modal .form-check{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.update-noti-modal .form-check input{
    margin-left: 10px;
    height: 25px;
    width: 25px;
    background-color: rgb(159, 190, 219);
}
.update-noti-modal #noti-content{
    border-color: rgb(221, 0, 0);
}

.notifications-top-bar{
    padding :10px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.notifications-top-bar ul{
    display: flex;
    flex-direction: row;
}
.notifications-top-bar li{
    margin: 5px;
}
.notifications-top-bar li:not(:first-child):before{
    content: "\\ ";
}

.notifications-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.notifications-content .notifications-filter{
    margin: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.notifications-content .notifications-filter form{
    max-height: 50px;
}

.notifications-content .notifications-filter .create-btn{
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: white;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.notifications-content .notifications-filter .department-picker{
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.notifications-content .notifications-filter .notifications-search{
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    background-color: white;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.notifications-noti .noti{
    position: relative;
    padding: 10px;
    width: 100%;
    border-style: groove;
    background-color: white;
}
.notifications-noti .noti .noti-author{
    font-size: 11px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
} 

.notifications-noti .noti-option{
    border-radius: 20px;
    border: 1px solid gray;
    padding: 5px;
    position: absolute;
    top: -10px;
    right: 10px;
    background-color: white;
}

.notifications-noti .noti-option span{
    margin: 0px 5px 0px 5px;
    color: #00B7FF;
    cursor: pointer;
}

.remove-noti-confirm .cancel-noti-remove,
.remove-noti-confirm .confirm-noti-remove,
.remove-confirm .no-remove,
.remove-confirm .ok-remove{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: white;
}
.remove-noti-confirm .noti-detail{
    margin-top: 0px;
}
.remove-noti-confirm .noti-detail-title p{
    font-size: 24px;
}

.remove-noti-confirm .noti-detail-category a,
.remove-noti-confirm .noti-detail-author a{
    color: #00B7FF;
}

.modal-content{
    border-radius: 10px;
}

.remove-noti-confirm .cancel-noti-remove,
.remove-confirm .no-remove{
    background-color: rgb(136, 136, 136)
}

.remove-noti-confirm .confirm-noti-remove,
.remove-confirm .ok-remove{
    background-color: rgb(255, 74, 74)
}

.notifications-noti .noti .noti-title{
    font-size: 18px;
    text-transform: uppercase;
    margin: 7px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notifications-noti .noti .noti-important{
    color: rgb(221, 221, 0);
    margin-left: 10px;
}

.notifications-noti .noti .noti-new{
    color: rgb(255, 0, 0);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    border-radius: 50%;
    font-weight: 600;
}

.notifications-noti .noti .noti-body{
    font-size: 13px;
    margin: 7px 0px 7px 0px;
}

.notifications-noti .noti .noti-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    text-overflow: clip;
    overflow: hidden;
    padding: 7px 0px 5px 0px;
}

.notifications-noti .noti .noti-bottom span{
    margin: 0px 5px 0px 5px;
}

.notifications-noti .noti:nth-child(even){
    background-color: #e9f4ff;
}

.notifications-right-section .pagination{
    background-color: transparent;
}

.notifications-right-section .pagination a{
    background-color: white;
    color: #000;
    margin-bottom: 30px;
}
.notifications-right-section .department-picker option{
    height: 100px;
    overflow: auto;
}




.placeholder-content {
    color: transparent !important; 
    overflow: hidden;
    background: #000;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 

    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: #f6f7f8;
    background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
    background-size: 1300px; 
}

@keyframes placeholderAnimate {
    0%{ background-position: -650px 0; }
    100%{ background-position: 650px 0; }
}


.placeholder-content-author{
    width: 100px;
}

.container-fluid{
    display: flex;
    flex-direction: column;
}
.noti-detail{
    margin-top: 30px;
    line-height: 1.5;
    align-self: center;
    width: 80%;
}

.noti-detail hr{
    height: 1px;
    background-color: rgb(226, 226, 226);
}


.noti-detail .noti-detail-information{
    margin-top: 10px;;
}

.noti-detail .noti-detail-information a{
    font-size: 16px;
    font-weight: 600;
}

.noti-detail-title p{
    font-size: 36px;
    font-weight: 600;
    color:#00B7FF;

}
.noti-detail-date{
    font-weight: 600;
    color: #00B7FF;
}
.noti-detail-body{
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.noti-detail-content{
    font-size: 16px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.noti-detail .remove-noti,
.noti-detail .edit-noti{
    padding: 5px 10px 5px 10px;
    margin: 5px;
    margin-top: 10px;
    background-color: #00B7FF;
}

.noti-timeline ul, .noti-timeline li{
  list-style: none;
  padding: 0;
}

.noti-timeline .container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #209cff, #68e0cf);
}
.noti-timeline .view-all-noti{
    font-size: 13px;
    margin-top: 10px;
}
.noti-timeline h1{
  font-size: 1.1rem;
  font-family: sans-serif;
}

.noti-timeline .sessions{
  border-radius: 12px;
  position: relative;
}

.noti-timeline li{
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  
}

.noti-timeline li:last-child{
    border: 0px;
    padding-bottom: 0;
}

.noti-timeline li:before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}
.noti-timeline .time{
  color: #2a2839;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.noti-timeline p{
  color: #4f4f4f;
    font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;
}

.header-top .noti-inform{
    margin-top: 10px;
    position: absolute;
    top: 70px;
    height: 50px;
    z-index: 9999;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}


.header-top .noti-inform span{
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(167, 230, 255);
    padding: 10px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    min-width: fit-content;
}

.change-password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;;
    margin-bottom: 30px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 1px 20px 0px rgba(85, 85, 85, 0.25);    
}
.change-password .change-password-body{
    align-self: center;
    width: 500px;
}
.change-password .change-password-body h3{
    text-align: center;
}

.change-password form{
    padding: 10px;
}

.change-password .save-change-btn{
    padding: 10px;
    background-color: #b551f8;
    color: white;
    border-radius: 15px;;
}

.user-comment{
    position: relative;
}

.user-comment .remove-comment{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}

.user-comment .remove-comment span{
    margin: 5px;
    cursor: pointer;
}

.user-comment .remove-comment #confirm-remove-comment,
.user-comment .remove-comment #decline-remove-comment{
    display: none;
}

.toast{
    z-index: 1050 !important;
}


.nice-select {
    border-radius: 0px;
}

.nice-select .list {
    border-radius: 0px;
    height: 200px;
    overflow-y: auto;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background: none;
}


.tablet-container{
    display: none;
}

.rotate {
    transform: rotate(-180deg);
    /*transform: rotate(180deg);*/
    transition: .3s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .3s;
}

.aside-tab-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(162, 229, 255);
    position: absolute;
    top: 0;
    left: 0;
    margin: 55px;
    z-index: 20;
    display: none;
}


.left-aside-tab{
    margin-top: 75px;
    margin-right: 10px;
    position: absolute; 
    height: auto; 
    display: none;
    top: 0;
    z-index: 10;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .desktop-container{
        display: none;
    }

    .tablet-container{
        display: block;
    }
    
    .widget-area{
        padding-bottom: 30px;
    }

  }

@media only screen and (max-width: 992px) {
    .aside-tab-btn{
        display: flex;
    }
    .widget-area{
        display: none;
    }
    .container,
    .noti-detail{
        width: 100%;
    }
    .notifications-content .noti{
        line-height: 1.5;
    }
    .notifications-content .notifications-filter{
        padding-bottom: 50px;
    }
    .notifications-content .notifications-search,
    .notifications-content .department-picker{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }


    .change-password .change-password-body{
        align-self: center;
        width: 100%;
    }
    
    .mobile-header-wrapper{
        z-index: 999;
    }

    .mobile-header-wrapper .noti-inform{
        position: absolute;
        top: 70px;
        height: 50px;
        z-index: 9999;
        left: 0;
        right: 0;
        text-align: center;
        background-color: rgb(167, 230, 255);
        padding: 10px;
        border-radius: 25px;
        margin-left: 10px;
        margin-right: 10px;
        display: none;
    }

    .mobile-header-wrapper .noti-inform span{
        cursor: pointer;
        font-size: 16px;
        border-radius: 20px;
    }
    

    .login-body{
        background: white;
    }

    .login-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .login-message{
        padding: 5px;
        color: rgb(221, 0, 0);
        font-size: 16px;
    }
    
    .login-form{
        background-color: white;
        width: fit-content;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .login-form .login-header{
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        margin: 10px;
        padding-bottom: 10px;
    }
    
    .login-form .form-control{
        width: 100%;
    }
    
    .login-form .form-control::-webkit-input-placeholder{
        font-size: 20px;
        color: rgb(170, 170, 170)
    }
    
    .login-form .login-btn{
        padding: 20px;
        width: 100%;
        background-color: #00B7FF;
        border-radius: 20px;
        font-size: 18px;
        color: white;
    }
    
    .google-signin-btn a {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 25px;    
        padding: 10px;
        border-radius: 40px;
        text-decoration: none;
        color: black;
        font-size: 18px
    }
    
    .google-signin-btn a img {
        height: auto;
        width: auto;
        max-width: 40px;
        max-height: 40px;
        margin-right: 10px;
    }

    #error .error-area h2 {
        
        position: absolute;
        top: 19px;
        left: -20px;
        width: 171px;
    }
  }

.font-weight-bold{
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.font-weight-bold:hover{
    color: #00B7FF;
}

.like-page-list-wrapper .unorder-list{
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
}

.like-page-list-wrapper .unorder-list .unorder-list-info .list-title{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}


.like-page-list-wrapper .unorder-list .unorder-list-info .list-title a{
    color: black;
}


.like-page-list-wrapper .unorder-list .unorder-list-info .list-title a:hover{
    color: #00B7FF;
}



#error {
    background-color: #f1f1f1;
    display: inline;
    float: left;
    width: 100%;
}

#error .error-area {
    display: inline;
    float: left;
    margin-top: 50px;
    padding: 100px 100px 130px;
    text-align: center;
    width: 100%;
}

#error .error-area h2 {
    display: inline-block;
    font-size: 100px;
    line-height: 150px;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-weight: 600;
    color: #00B7FF;
    text-shadow: 0 2px 2px #ddd;
    position: relative;
}

#error .error-area h2:before {
    content: "";
    height: 128px;
    position: absolute;
    right: 21%;
    top: 19px;
    width: 171px;
}

#error .error-area p {
    font-size: 18px;
}

#error .error-area p span {
    color: #f60000;
    display: inline-block;
    margin-right: 10px;
}

#error .error-area a {
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 30px;
    padding: 10px 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


.error-mobile{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}
.error-mobile .mobile-logo{
    display: flex;
    justify-content: center;
}

.profile-picture-box .profile-picture{
    margin-bottom: 50px;
}