<aside class="widget-area">
    <!-- widget single item start -->
    <div class="card card-profile widget-item p-0">
        <div class="profile-banner">
            <figure class="profile-banner-small">
                <a href="/profile/user._id">
                    <img src="/images/banner-small.jpg" alt="">
                </a>
                <a href="/profile/user._id" class="profile-thumb-2">
                                <img src="<%= user.avatar %>" alt="">
                            </a>
            </figure>
            <div class="profile-desc text-center">
                <h6 class="author"><a href="/profile/user._id"><%= user.name %></a></h6>
                <p>Tách ly dùng để uống trà
                </br>
                        Tình ca để hát, em là để yêu.</p>
            </div>
        </div>
    </div>
    <!-- widget single item start -->

    <!-- widget single item start -->
    <div class="card widget-item">
        <h4 class="widget-title">page you may like</h4>
        <div class="widget-body">
            <ul class="like-page-list-wrapper">
                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                            <figure class="profile-thumb-small">
                                <img src="/images/profile-small-33.jpg" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Travel The World</a></h3>
                        <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">adventure</a></p>
                    </div>
                    <button class="like-button active">
                            <img class="heart" src="/heart.png" alt="">
                            <img class="heart-color" src="/heart-color.png" alt="">
                        </button>
                </li>
                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                            <figure class="profile-thumb-small">
                                <img src="/images/profile-small-30.jpg" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Foodcort Nirala</a></h3>
                        <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">food</a></p>
                    </div>
                    <button class="like-button">
                            <img class="heart" src="/heart.png" alt="">
                            <img class="heart-color" src="/heart-color.png" alt="">
                        </button>
                </li>
                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                            <figure class="profile-thumb-small">
                                <img src="/images/profile-small-5.jpg" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Rolin Theitar</a></h3>
                        <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">drama</a></p>
                    </div>
                    <button class="like-button">
                            <img class="heart" src="/heart.png" alt="">
                            <img class="heart-color" src="/heart-color.png" alt="">
                        </button>
                </li>
                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                            <figure class="profile-thumb-small">
                                <img src="/images/profile-small-29.jpg" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Active Mind</a></h3>
                        <p class="list-subtitle"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">fitness</a></p>
                    </div>
                    <button class="like-button">
                            <img class="heart" src="/heart.png" alt="">
                            <img class="heart-color" src="/heart-color.png" alt="">
                        </button>
                </li>
            </ul>
        </div>
    </div>
    <!-- widget single item end -->

    <!-- widget single item start -->
    <div class="card widget-item">
        <h4 class="widget-title">latest top news</h4>
        <div class="widget-body">
            <ul class="like-page-list-wrapper">
                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                            <figure class="profile-thumb-small">
                                <img src="/images/profile-small-28.jpg" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Any one can join with us if you want</a></h3>
                        <p class="list-subtitle">2 min ago</p>
                    </div>
                </li>
                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                            <figure class="profile-thumb-small">
                                <img src="/images/profile-small-31.jpg" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Any one can join with us if you want</a></h3>
                        <p class="list-subtitle">20 min ago</p>
                    </div>
                </li>
                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                            <figure class="profile-thumb-small">
                                <img src="/images/profile-small-27.jpg" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Any one can join with us if you want</a></h3>
                        <p class="list-subtitle">30 min ago</p>
                    </div>
                </li>
                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                            <figure class="profile-thumb-small">
                                <img src="/images/profile-small-34.jpg" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Any one can join with us if you want</a></h3>
                        <p class="list-subtitle">40 min ago</p>
                    </div>
                </li>
                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                            <figure class="profile-thumb-small">
                                <img src="/images/profile-small-32.jpg" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Any one can join with us if you want</a></h3>
                        <p class="list-subtitle">39 min ago</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- widget single item end -->
</aside>