<div class="card card-small">
    <div class="share-box-inner">
        <!-- profile picture end -->
        <div class="profile-thumb">
            <a href="/profile/<%= user._id %>">
                <figure class="profile-thumb-middle">
                    <img src="<%= user.avatar %>" alt="profile picture">
                </figure>
            </a>
        </div>
        <!-- profile picture end -->

        <!-- share content box start -->
        <div class="share-content-box w-100">
            <form class="share-text-box">
                <input name="share" class="share-text-field" aria-disabled="true" readonly placeholder="Nêu suy nghĩ của bạn" data-toggle="modal" data-target="#textbox">
            </form>
        </div>
        <!-- share content box end -->
    </div>
</div>